
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #333;
      overflow: hidden;
    }
    li {
      display: inline-block;
      margin-right: 10px;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }
    .brand {
      font-size: 24px;
      font-weight: bold;
      display: flex;
      justify-content: flex-start;
    }
    .lo{
      display: flex;
      justify-content: space-around;
    }